body {
  font-family: sans-serif;
}

ul {
  padding: 0;
}

.logo {
  height: 160px;
  width: 10em;
  margin-left: 1.2em;
}

.sidebar {
  padding-left: 0.5em;
}

.link-label {
  background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  color: #54595d;
  margin: 0.5em 0 0 1.6em;
  font-size: 0.75em;
  padding: 0.25em 0;
  width: 80%;
}

.links {
  list-style-type: none;
  margin-left: 0.75em;
  margin-bottom: 0.1em;
  padding-top: 0.5em;
  line-height: 1.666667;
}

.nav-links {
  padding-top: 0.3em;
  margin: 0 0.6em 0 1.2em;
}

.top-links {
  text-align: right;
  margin-right: 1em;
}

.top-links li {
  display: inline;
  margin-left: 0.75em;
}

.nav-links li {
  line-height: 1.125em;
  padding: 0.25em 0;
}

li {
  font-size: 0.75em;
}

a {
  color: #0645ad;
}